.button {
    height: var(--height-button-primary-default);
    border-radius: var(--button-primary-default);
    background-color: var(--primary);
    color: var(--text);
    display: inline-block;
    border: none;
}